<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Portfolio</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel='stylesheet prefetch' href='https://www.w3schools.com/lib/w3.css'>
<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css'>

      <link rel="stylesheet" href="static/css/style.css">

  
</head>

<body>

  <!-- Author: Christian Pecson -->
<!-- Date: July 2, 2016 -->
<!-- Navbar (sit on top) -->
<div class="w3-top">
  <ul class="w3-navbar" id="myNavbar">
    <li class="w3-hide-small w3-right">
      <a href="#contact" class="w3-padding-large">Contact</a>
    </li>
    <li class="w3-hide-small w3-right">
      <a href="#portfolio" class="w3-padding-large">Portfolio</a>
    </li>
    <li class="w3-hide-small w3-right">
      <a href="#about" class="w3-padding-large">About</a>
    </li>
  </ul>
</div>

<!-- First Parallax Image with Logo Text -->
<div class="bgimg-1 w3-opacity w3-display-container">
  <div class="w3-display-middle" style="white-space:nowrap;">
    <h1 class="w3-center w3-padding-xlarge w3-black w3-xlarge w3-wide w3-animate-opacity">PHI<span class="w3-hide-small"> HOANG</span></h1>
  </div>
</div>

<!-- Container (About Section) -->
<div class="w3-content w3-container w3-padding-64" id="about">
  <h2 class="w3-center">ABOUT ME</h2>
  <p class="w3-center"><em>Bohemian Guy</em></p>
  <p>My name is Phi Huy Hoang. I am a dreamer and also a programmer. I enjoy being challenged and working on projects that require me to work outside my comfort and knowledge sets, as continue learning new languages and development techniques.</p>
  <!--  Profile Picture and Description  -->
  <div class="w3-row">
    <div class="w3-col m6 w3-center w3-section">
      <img src="https://scontent.fbud2-1.fna.fbcdn.net/v/t1.0-9/36521310_1761504620604758_8979504953429065728_n.jpg?_nc_cat=0&oh=aee5fd507ca9302dee3149e06924885a&oe=5BD7EDBD" id="profile" width = "250" height = "250" class="w3-circle" alt="Photo of Me">
    </div>

    <!-- Hide this text on small devices -->
    <div class="w3-col m6 w3-hide-small w3-section">
      <p>It’s not a bug – it’s an undocumented feature.</p>
    </div>
  </div>
</div>

<!-- Second Parallax Image with Portfolio Text -->
<div class="bgimg-2 w3-display-container" id="portfolio">
  <div class="w3-display-middle">
    <span class="w3-xxlarge w3-text-light-grey w3-wide">PORTFOLIO</span>
  </div>
</div>

<!-- Container (Portfolio Section) -->
<div class="w3-content w3-container w3-padding-64">
  <h2 class="w3-center">SOME OF MY WORK</h2>
  <p class="w3-center"><em>Here are some of my latest web application work.<br> The Programming languages I can use are: C#, Python and Javascript
  <br>Database: MSQL, InfluxDB, MonggoDB, PostgreSQL.
  <br>I can use GIT, HTML5 & CSS, PTS, Docker, Terraform, Grafana.
  </em></p><br>

  <!-- Responsive Grid. Four columns on tablets, laptops and desktops. Will stack on mobile devices/small screens (100% width) -->
  <div class ="web-application">
  <iframe src="http://coffeetube.herokuapp.com/" width= "device-width/3" height="500" frameBorder="0"  hspace="0" vspace="0">>Browser not compatible.</iframe>
  <iframe src="http://bohemianreader.herokuapp.com/" width="device-width/3" height="500" frameBorder="0" hspace="0" vspace="0">>Browser not compatible.</iframe>
  <iframe src="http://bohemiandetail.herokuapp.com" width="device-width/3" height="500" frameBorder="0">Browser not compatible.</iframe>
</div>
<!-- Third Parallax Image with Portfolio Text -->
<div class="bgimg-3 w3-display-container" id="contact">
  <div class="w3-display-middle">
    <h2 class="w3-xxlarge w3-text-light-grey w3-wide">CONTACT</h2>
  </div>
</div>

<!-- Container (Contact Section) -->
<div class="w3-content w3-container w3-padding-64">
  <h3 class="w3-center">HOW WE CAN CONTACT</h3>
  <p class="w3-center"><em>I'd love your feedback!</em></p>

  <address class="w3-row w3-padding-32 w3-section">
    <div class="w3-col m4 w3-container">
      <!-- Add Google Maps -->
      <div id="googleMap" class="w3-round-large"></div>
    </div>
    <div class="w3-col m8 w3-container w3-section">
      <div class="w3-large w3-margin-bottom">
        <i class="fa fa-map-marker w3-hover-text-black" style="width:30px"></i> Budapest, Hungary<br>
        <i class="fa fa-phone w3-hover-text-black" style="width:30px"></i> Phone: +36 30 837 2925<br>
        <i class="fa fa-envelope w3-hover-text-black" style="width:30px"> </i> Email: luumanhlapdi@gmail.com<br>
      </div>
      <p>Swing by for a cup of coffee, or leave me a note:</p>
      <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
        <div class="w3-half">
          <input class="w3-input w3-border w3-hover-light-grey" type="text" placeholder="Name">
        </div>
        <div class="w3-half">
          <input class="w3-input w3-border w3-hover-light-grey" type="text" placeholder="Email">
        </div>
      </div>
      <input class="w3-input w3-border w3-hover-light-grey" type="text" placeholder="Comment">
      <a href="mailto:luumanhlapdi@gmail.com" class="w3-btn w3-section w3-right">SEND</a>
    </div>
  </address>
</div>

<!-- Footer 
<footer class="w3-center w3-dark-grey w3-padding-48 w3-hover-black cf">
  <div class="w3-half">
    <a target="_blank" href="https://www.facebook.com/zinny123">
      <i class="fa fa-facebook fa-2x"></i>
    </a>
    <a target="_blank" href="https://github.com/PhiHuyHoang">
      <i class="fa fa-codepen fa-2x"></i>
    </a>
  </div>
 </footer>-->

  <script src='https://maps.googleapis.com/maps/api/js?AIzaSyAutxAzYl6N2iRmi560rS0xSsPB-_GvRxU'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/smoothscroll/1.4.4/SmoothScroll.min.js'></script>

    <script  src="static/js/index.js"></script>




</body>

</html>
